.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 24px;
  padding: 40px;
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}

.slider > * {
  flex-shrink: 0;
}
